body {
    background-color: #f5f5f5;
    font-family: Roboto,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 1.6;
    box-sizing: border-box;
    margin-top: 30px;
    color: #424242;
}
.menuitem {
    display: inline-flex;
    flex-wrap: wrap;
}

#thinkwithImage {
    width: 200px;
    margin-left: 10px;
}

#navbarImage {
    width: 30px;
    margin-top: 4px;
}

#searchButtonSize {
    font-size: 1.8em;
    color: rgb(107, 107, 107)
}

.containerHeader {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    line-height: 2.2em;
    margin-right: 20px;
    margin-left: 25px;
}
.containerHeaderLeft {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90%;
    text-align: left;
}

.containerHeaderRight {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 10%;
    text-align: right;
}

.headerText {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5em;
    font-weight: 100;
    color: #3a3939;
    height: 6em;
    margin-left: 25px;
}

.containerPhoto1 {
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5) ), url("images/smilingman.jpg"); 
    display: flex;
    flex-wrap: wrap;
    min-height: 21.25rem;
    background-size: cover;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    box-shadow: 0 0.125rem 0.1875rem 0 rgba(0,0,0,.11);
}

.containerText {
    display: flex;
    flex-wrap: wrap;
    color: white;
    margin-top: auto;
    margin-bottom: 30px;
    margin-left: 25px;
    font-size: 1.1em;
    font-weight: 520;
    width: 300px;
}

#smallContainerText {
    font-size: 0.8em;
    font-weight: 520; 
}

.card {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 0 0.125rem 0.1875rem 0 rgba(0,0,0,.11);
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
    margin-right: 25px;
}

.datadrivenCard {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    color: rgb(66, 65, 65);
    margin-top: auto;
    margin-left: 25px;
    font-size: 1.1em;
    font-weight: 520;
    }

.containerPhoto2 {
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5) ), url("images/purplead.jpg"); 
    display: flex;
    flex-wrap: wrap;
    min-height: 21.25rem;
    background-size: cover;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    margin-top: 25px;
    box-shadow: 0 0.125rem 0.1875rem 0 rgba(0,0,0,.11);
}

.card {
    flex: 33.33333%;
    margin: .625rem;
    max-height: 6.6875rem;
    max-width: 8.125rem;
    min-height: 5.3125rem;
    min-width: 5.3125rem;
    padding: 0;
    margin-left: 25px;
}
.footerContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: #3367d6;
    color: white;
    margin-left: 0;
    margin-right: 0;
    margin: 0;
    padding: 1em;
}
.footerTitle {
    font-size: 1.5em;
    font-weight: 100;
    width: 70%;
}
input[type=text] {
    border: none;
    border-bottom: 1px solid white;
    background: none;
    width: 100%;
}
#smallSignUpText {
    font-size: 0.8em;
}
.form {
    margin-top: 20px;
    margin-bottom: 10px;
}
.subscribeButton {
    background-color: white;
    color: #3367d6;
    border: none;
    padding: 15px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
}


